* , *:after, *:before {
    margin: 0;
    padding: 0;
}
body {
    font-family:arial;
}
.navbar-default {
    background:#fff;
    border: none;
}
.navbar-default .navbar-brand {
    color: #a67ecf;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color:#a67ecf;
}
.navbar-nav>li>a {
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-nav>li>a:hover {
    color: #a67ecf;
}
section.about {
    width: 100%;
    height: auto;
    padding: 50px 0;
}
section.about div.narrow h1, section.product div.narrow h1 {
    font-size: 2em;
    color:#a67ecf;
    font-family: arial;
    font-weight: bold;
    margin-bottom: 2%;
}
section.about div.narrow p, section.product div.narrow p {
    color:#888;
    line-height: 1.8;
}
section.about img {
      width: 100%;
      margin-bottom: 3%;
}
section.about div.img {
    background-image: url(../image/c4.jpg);
    height: 310px;
    background-size: cover;
    position: relative;
}
section.about div.img p {
    position: absolute;
    bottom: 0;
    color: #ddd;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-size: 20px;
}
section.service {
    margin-top: 7%;
    width: 100%;
    height: 400px;
    background-image: url('../image/c1.jpg');
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
}
section.service p {
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 25px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15%;
}
section.product {
     width: 100%;
     margin: auto;
     padding: 50px 0 ;
}
section.product img {
    width: 100%;
    height: 250px;
}
section.chooser {
     width: 100%;
     height: auto;
     margin: 80px 0;
     padding: 50px 0;
     background: #fbfbfb;
}
section.chooser i,
section.chooser div.part {
    float: left;
}
section.chooser div.part p,
section.chooser div.part h2 {
    margin: 0;
}
section.chooser i {
    position: relative;
    top: 20px;
    margin-right: 3%;
}
section.chooser div.part {
     width: 80%;
}
section.chooser div.part h2 {
    color: #a67ecf;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
section.chooser div.part p {
    color:#888;
    margin-top: 5%;
    font-size: 19px;
}
footer {
      width: 100%;
      height: auto;
      padding: 20px 0;
}
footer p {
    font-size: 18px;
    color: #888;
}
footer i {
    padding: 10px;
    background: #999;
    color: #fff;
    border-radius: 50%;
}